.hero-section{
padding-top: 27px;
padding-bottom: 27px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-text-container{
    width: 516px;
    
}
.hero-bg-img{
    width: 560px;
    height: 560px;
 background-image: url(../images/hero/hero.jpg);
background-repeat: no-repeat;
background-position: center;
}


.hero-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.hero-desc{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 45px;
}

.hero-btn{
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    padding: 6px 18px;
    border: none;
    background: $color-button-green;
    border-radius: 30px;
    &:hover, &:focus{
        background-color: $color-yellow-main;
    }
}