/* Modal */
.backdrop{
  position:fixed;
  top: 0;

  width: 100%;
  height: 100%;
    
  opacity: 1;
  visibility: visible;
  background-color:  rgba(94, 99, 99, 0.7);
  transition: opacity 250ms $timing-function, visibility 250ms $timing-function;

}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)  rotate(0deg);
  width: 458px;
  height: 450px;
  background-color: $color-yellow-main;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  transition: transform 250ms $timing-function;

}
.close-button{
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: box-shadow 250ms $timing-function;

}
.close-button:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.close-icon{
  width: 11px;
  height: 11px;
  fill: #000;
}
/* End Modal */