<section class="favorites-section">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list list">
      <li class="favorites-item">
        <img
          class="favorites-img animate__animated animate__rotateIn"
          src="./images/favourites/gamburger.jpg"
          alt="gamburger"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img animate__animated animate__rotateIn"
          src="./images/favourites/pasta.jpg"
          alt="pasta"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img animate__animated animate__rotateIn"
          src="./images/favourites/pizza.jpg"
          alt="pizza"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img animate__animated animate__rotateIn"
          src="./images/favourites/chicken.jpg"
          alt="chicken"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img animate__animated animate__rotateIn"
          src="./images/favourites/salat.jpg"
          alt="salat"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img animate__animated animate__rotateIn"
          src="./images/favourites/borshch.jpg"
          alt="borshch"
          width="315"
          height="315"
        />
      </li>
    </ul>
  </div>
</section>
