<header class="header-section">
  <div class="container header-wrapper">
    <nav class="header-nav">
      <a class="logo-link link" href="index.html">
        <svg class="logo-icon" width="66" height="52">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link current-link link" href="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="Service">Service</a>
        </li>
        <li class="nav-item"><a class="nav-link link" href="Menu">Menu</a></li>
        <li class="nav-item">
          <a class="nav-link link" href="Contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="btn-wrapper">
      <button class="btn header-btn" type="button">Order Now</button>
    </div>
  </div>
</header>
