<section class="offerings-section">
  <div class="container offerings-wrap">
    <div class="offerings-right-wrap">
      <h2 class="offerings-title">What’s Special About Our Offerings</h2>
      <p class="offerings-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings-list list">
        <li class="offerings-item">
          <div class="offerings-icon-wrap">
            <svg class="offerings-icon">
              <use href="/src/images/icons.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings-subtitle">Fasest Delivery</h3>
          <p class="offerings-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings-item">
          <div class="offerings-icon-wrap">
            <svg class="offerings-icon">
              <use href="/src/images/icons.svg#icon-touch"></use>
            </svg>
          </div>
          <h3 class="offerings-subtitle">Easy To Order</h3>
          <p class="offerings-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="btn offerings-btn" type="button">Order Now</button>
    </div>
  </div>
</section>
